.admin-products{
    padding:30px;
}

.admin-products h2{
    color:white;
    margin-bottom:25px;
    font-size:30px;
    font-weight:600;
}

.admin-products table{
    width:100%;
    border-collapse:collapse;
    background:#1c1f26;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,.3);
}

.admin-products thead{
    background:#111722;
}

.admin-products th{
    color:white;
    padding:18px;
    text-align:center;
    font-size:16px;
    font-weight:600;
}

.admin-products td{
    color:#e5e7eb;
    padding:18px;
    text-align:center;
    border-bottom:1px solid #2e3440;
}

.admin-products tr:hover{
    background:#2a303c;
}

.admin-products img{
    width:70px;
    height:70px;
    object-fit:cover;
    border-radius:8px;
    border:2px solid #374151;
}

.delete-btn{
    background:#dc3545;
    color:white;
    border:none;
    padding:8px 18px;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
    transition:0.3s;
}

.delete-btn:hover{
    background:#b91c1c;
}

.edit-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:8px 18px;
    border-radius:6px;
    cursor:pointer;
    margin-right:10px;
    font-size:14px;
    transition:0.3s;
}

.edit-btn:hover{
    background:#1d4ed8;
}

.action-buttons{
    display:flex;
    justify-content:center;
    gap:10px;
}